*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}



.Container{

  background-color: rgb(149, 216, 233);
  height:100%;
  width:100%;
  display: grid;
  grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

.PageLay{
  grid-column-start: 2;
  grid-column-end: 7;
  background-color: green;
  overflow: hidden;

}

.side{
  grid-column-start: 7;
  grid-column-end: 9;
  background-color: green;
  padding: 30px;
  overflow: hidden;
}

.box{
  background-color: pink;
  border: 5px solid black;
  width:300px;
  height: 300px;
}


.item{

  background-color: Salmon;
  height:30px;
  width:50px;
}
.navbar{
  color: white;
  height: 100vh;
}